<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入外部的配置文件 -->
	<properties resource="db-oracle.properties"></properties>
	<!-- 在控制台打印mybaits底层执行的SQL -->
	<settings>
		<setting name="logImpl" value="STDOUT_lOGGING"></setting>
	</settings>
	
	<!-- 类型别名 -->
	<typeAliases>
	  <typeAlias alias="Score" type="com.jxdedu.entity.Score"/>
	  <typeAlias alias="SchoolEvaluation" type="com.jxdedu.entity.SchoolEvaluation"/>
	</typeAliases>
	
	<!-- 也可以指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean，比如:-->
	<!-- 	<typeAliases>
	  <package name="domain.blog"/>
	</typeAliases> 
	 -->
	
	<!-- 配置mybatis的框架环境 -->
	<environments default="development">
		<environment id="development">
			<!-- 采用jdbc的方式来管理事务 -->
			<transactionManager type="JDBC" />
			<!--采用支持jdbc数据库连接池的的数据源  -->
			<dataSource type="POOLED">
				<!--数据库的四大参数  -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- 配置映射文件，随着主配置文件的加载，映射文件一同被加载 -->
	<mappers>
		<mapper resource="com/jxdedu/mapper/score-mapper.xml" />
		<mapper resource="com/jxdedu/mapper/school-evaluation-mapper.xml" />
	</mappers>
</configuration>
